.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info-area{
  display:flex;
  
}
.image-area{
  flex:2;
  
}

.description-area{
  flex:3;
  text-align:left;
}

.image-thumbnail{
  max-height:80px;
}
.image-cover{
  max-height:400px;
  box-shadow: -5px -5px 5px gray;
  border: 20px solid black;
  border-radius: 10%;

}